@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<p>
    @ViewBag.Message
</p>

<p>
    This portal provides an easy way to:
</p>

<ul>
    <li>Manage Patients</li>
    <li>Manage Doctors</li>
    <li>Schedule Appointments</li>
    <li>Maintain Health Records</li>
</ul>