@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

<p>@ViewBag.Message</p>

<address>
    Healthcare Appointment Portal<br />
    Address coming soon<br />
    India
</address>

<p>
    Email: support@healthcareportal.com
</p>

<p>
    Phone: +91 98765 43210
</p>