@{
    ViewBag.Title = "Healthcare Appointment Portal";
}

<div class="jumbotron">
    <h1>🏥 Healthcare Appointment Portal</h1>

    <p class="lead">
        Welcome to the Healthcare Appointment Portal.
        Manage Patients, Doctors, Appointments and Health Records efficiently.
    </p>

    <hr />
</div>

<div class="row">

    <div class="col-md-4">
        <h3>👨‍⚕️ Patients</h3>

        <p>
            Register, update and manage
            patient information.
        </p>

        @Html.ActionLink(
            "Go to Patients",
            "Index",
            "Patient",
            null,
            new
            {
                @class =
                "btn btn-outline-primary"
            })
    </div>

    <div class="col-md-4">
        <h3>🩺 Doctors</h3>

        <p>
            Manage doctor profiles,
            specialisations and availability.
        </p>

        @Html.ActionLink(
            "Go to Doctors",
            "Index",
            "Doctor",
            null,
            new
            {
                @class =
                "btn btn-outline-success"
            })
    </div>

    <div class="col-md-4">
        <h3>📅 Appointments</h3>

        <p>
            Schedule, track and manage
            patient appointments.
        </p>

        @Html.ActionLink(
            "Go to Appointments",
            "Index",
            "Appointment",
            null,
            new
            {
                @class =
                "btn btn-outline-warning"
            })
    </div>

</div>